<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>User Manager</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sidebar menu -->
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigation</ion-title> <!-- "Navigation" is still clear and concise -->
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/screen3" routerDirection="root">
          <ion-label>View Records</ion-label> <!-- Shortened label -->
        </ion-item>
        <ion-item routerLink="/user-input" routerDirection="root">
          <ion-label>Submit Details</ion-label> <!-- Shortened label -->
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


  <!-- Main content area, where pages will be rendered -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>