<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>input</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="parent">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="input-form-container">
        <!-- First Name -->
        <div class="first-name-wrapper">
          <ion-item>
            <ion-input
            fill="solid"
              formControlName="firstName"
              label="First Name"
              labelPlacement="floating"
              type="text"
              helperText="Enter your first name"
              errorText="Invalid first name (only letters and spaces allowed)"
              required
              autocapitalize="words"
            ></ion-input>
          </ion-item>
        </div>

        <!-- Last Name -->
        <div class="last-name-wrapper">
          <ion-item>
            <ion-input
            fill="solid"
              formControlName="lastName"
              label="Last Name"
              labelPlacement="floating"
              type="text"
              helperText="Enter your last name"
              errorText="Invalid last name (only letters and spaces allowed)"
              autocapitalize="words"
            ></ion-input>
          </ion-item>
        </div>

        <!-- Mobile -->
        <div class="mobile-wrapper">
          <ion-item>
            <ion-input
            fill="solid"
              formControlName="mobile"
              label="Mobile"
              labelPlacement="floating"
              type="number"
              helperText="Enter your mobile number (without +91/0)"
              errorText="Invalid mobile number"
              required
            ></ion-input>
          </ion-item>
        </div>

        <!-- Date of Birth -->
        <div class="dob-wrapper">
          <ion-item>
            <ion-label>Date of Birth</ion-label>
            <br />
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="datetime"
                  presentation="date"
                  formControlName="dateOfBirth"
                  mode="ios"
                  [showDefaultButtons]="true"
                  [formatOptions]="{
                  date: { day: '2-digit', month: '2-digit', year: 'numeric' }
                  }"
                  required
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </div>

        <!-- Address -->
        <div class="address-wrapper">
          <ion-item>
            <ion-textarea
              formControlName="address"
              labelPlacement="floating"
              label="Address"
              helperText="Enter your address"
              errorText="Invalid address (only numbers, alphabets, spaces, /, and commas)"
              required
              [counter]="true"
              maxlength="400"
              [counterFormatter]="customCounterFormatter"
              [autoGrow]="true"
              autocapitalize="words"
            ></ion-textarea>
          </ion-item>
        </div>

        <!-- Gender -->
        <div class="gender-wrapper">
          <ion-item>
            <ion-label>Gender</ion-label>
          </ion-item>
          <ion-radio-group formControlName="gender" class="gender-radio-group">
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="Male" mode="md"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="Female" mode="md"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Other</ion-label>
              <ion-radio slot="start" value="Other" mode="md"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>

        <!-- Education -->
        <div class="education-wrapper">
          <ion-item>
            <ion-label>Education</ion-label>
            <ion-select formControlName="education" interface="popover">
              <ion-select-option value="10th">10th</ion-select-option>
              <ion-select-option value="12th">12th</ion-select-option>
              <ion-select-option value="Bachelors">Bachelors</ion-select-option>
              <ion-select-option value="Masters">Masters</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <!-- TODO: Implement Image Capture/Picker using a separate new component which returns image path  -->
        <div class="profilePic-wrapper">
          <ion-item>
            <app-image
              (imagePath)="userForm.get('profilePic')?.setValue($event)"
              [initialBase64]="userForm.get('profilePic')?.value"
            ></app-image>
          </ion-item>
        </div>

        <!-- TODO: Location movement to be implemented -->
        <div class="location-wrapper">
          <div id="mapInput"></div>
        </div>
      </div>

      <div class="button-footer-wrapper">
        <ion-button
          class="reset-btn"
          color="secondary"
          shape="round"
          expand="full"
          (click)="onReset()"
        >
          Reset
        </ion-button>
        <ion-button
          class="submit-btn"
          color="success"
          shape="round"
          expand="full"
          type="submit"
        >
          Submit
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
