<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>input</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="parent">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="input-form-container">
        <!-- First Name -->
        <div class="first-name-wrapper">
          <ion-input
            fill="solid"
            formControlName="firstName"
            label="First Name"
            labelPlacement="floating"
            type="text"
            helperText="Enter your first name"
            errorText="Invalid first name (only letters and spaces allowed)"
            required
            autocapitalize="words"
          ></ion-input>
        </div>

        <!-- Last Name -->
        <div class="last-name-wrapper">
          <ion-input
            fill="solid"
            formControlName="lastName"
            label="Last Name"
            labelPlacement="floating"
            type="text"
            helperText="Enter your last name"
            errorText="Invalid last name (only letters and spaces allowed)"
            autocapitalize="words"
          ></ion-input>
        </div>

        <!-- Mobile -->
        <div class="mobile-wrapper">
          <ion-input
            fill="solid"
            formControlName="mobile"
            label="Mobile"
            labelPlacement="floating"
            type="number"
            helperText="Enter your mobile number (without +91/0)"
            errorText="Invalid mobile number"
            required
          ></ion-input>
        </div>

        <!-- Date of Birth -->
        <div class="dob-wrapper">
          <ion-label class="dob-label">Date of Birth</ion-label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="datetime"
                presentation="date"
                formControlName="dateOfBirth"
                [preferWheel]="true"
                [showDefaultButtons]="true"
                [formatOptions]="{
                date: { day: '2-digit', month: '2-digit', year: 'numeric' }
                }"
                required
              >
                <span slot="title">Date of Birth</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <!-- Gender -->
        <div class="gender-wrapper">
          <ion-label class="gender-label">Gender</ion-label>
          <ion-radio-group formControlName="gender" class="gender-radio-group">
            <div class="gender-radio-item">
              <ion-radio slot="start" value="Male">Male</ion-radio>
            </div>
            <div class="gender-radio-item">
              <ion-radio slot="start" value="Female">Female</ion-radio>
            </div>
            <div class="gender-radio-item">
              <ion-radio slot="start" value="Other">Other</ion-radio>
            </div>
          </ion-radio-group>
        </div>

        <!-- Education -->
        <div class="education-wrapper">
          <ion-label class="education-label">Education</ion-label>
          <ion-select formControlName="education">
            <ion-select-option value="10th"
              >High School</ion-select-option
            >
            <ion-select-option value="12th">12th</ion-select-option>
            <ion-select-option value="Bachelors">Bachelors</ion-select-option>
            <ion-select-option value="Masters">Masters</ion-select-option>
            <ion-select-option value="Others">Others</ion-select-option>

          </ion-select>
        </div>

        <!-- Address -->
        <div class="address-wrapper">
          <ion-textarea
            formControlName="address"
            labelPlacement="floating"
            label="Address"
            helperText="Enter your address"
            errorText="Invalid address (only numbers, alphabets, spaces, /, and commas)"
            required
            [counter]="true"
            maxlength="400"
            [counterFormatter]="customCounterFormatter"
            [autoGrow]="true"
            autocapitalize="words"
          ></ion-textarea>
        </div>

        <!-- Done: Implement Image Capture/Picker using a separate new component which returns image path  -->
        <div class="profilePic-wrapper">
          <app-image
            (imagePath)="userForm.get('profilePic')?.setValue($event)"
            [initialBase64]="userForm.get('profilePic')?.value"
          ></app-image>
        </div>

        <!-- Done: Location movement to be implemented -->
        <div class="location-wrapper">
          <div id="mapInput"></div>
        </div>
      </div>

      <div class="button-footer-wrapper">
        <ion-button
          class="reset-btn"
          color="secondary"
          shape="round"
          expand="full"
          (click)="onReset()"
        >
          Reset
        </ion-button>
        <ion-button
          class="submit-btn"
          color="success"
          shape="round"
          expand="full"
          type="submit"
        >
          Submit
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
