<div class="user-card">
  <ion-row class="user-details">
    <!-- Profile Picture Column -->
    <ion-col size="auto" class="avatar-col">
      <img 
        [src]="user.profilePic" 
        alt="Profile Picture" 
        class="profile-avatar" 
        (click)="openProfileZoom()"
      />
    </ion-col>

    <!-- Text Data Column -->
    <ion-col class="info-col">
      <div class="field-row">
        <span class="field-label">First Name:</span>
        <span class="field-value">{{ user.firstName | titlecase }}</span>
      </div>
      <div class="field-row">
        <span class="field-label">Last Name:</span>
        <span class="field-value">{{ user.lastName | titlecase }}</span>
      </div>
      <div class="field-row">
        <span class="field-label">Mobile:</span>
        <span class="field-value">{{ user.mobile | titlecase }}</span>
      </div>
      <div class="field-row">
        <span class="field-label">Education:</span>
        <span class="field-value">{{ user.education | titlecase }}</span>
      </div>
      <div class="field-row">
        <span class="field-label">Address:</span>
        <span class="field-value">{{ user.address | titlecase }}</span>
      </div>
      <div class="field-row">
        <span class="field-label">Latitude:</span>
        <span class="field-value">{{ user.location.lat | number: '1.0-5' }}</span>
      </div>
      <div class="field-row">
        <span class="field-label">Longitude:</span>
        <span class="field-value">{{ user.location.lng | number: '1.0-5' }}</span>
      </div>
    </ion-col>
  </ion-row>
</div>
