<ion-header>
  <ion-toolbar>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- User Form -->
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    
    <!-- First Name -->
    <ion-row>
      <ion-col size="6">
        <ion-label position="floating">First Name</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input formControlName="firstName" type="text" placeholder="First Name" required></ion-input>
      </ion-col>
    </ion-row>

    <!-- Last Name -->
    <ion-row>
      <ion-col size="6">
        <ion-label position="floating">Last Name</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input formControlName="lastName" type="text" placeholder="Last Name" required></ion-input>
      </ion-col>
    </ion-row>

    <!-- Address -->
    <ion-row>
      <ion-col size="6">
        <ion-label position="floating">Address</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input formControlName="address" type="textarea" placeholder="Address" required></ion-input>
      </ion-col>
    </ion-row>

    <!-- Mobile Number -->
    <ion-row>
      <ion-col size="6">
        <ion-label position="floating">Mobile Number</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input formControlName="mobile" type="tel" placeholder="Enter mobile" required></ion-input>
      </ion-col>
    </ion-row>

    <!-- Profile Picture (Camera Capture) -->
    <ion-row>
      <ion-col size="6">
        <ion-label position="floating">Profile Picture</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="captureProfilePic()">Capture Profile Picture</ion-button>
        <div *ngIf="profilePicBase64">
          <img [src]="profilePicBase64" alt="Profile Picture" width="100" height="100" />
        </div>
      </ion-col>
    </ion-row>

    <!-- Gender Selection -->
    <ion-row>
      <ion-col size="6">
        <ion-label>Gender</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-radio-group formControlName="gender" required>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio slot="start" value="male"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio slot="start" value="female"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Others</ion-label>
            <ion-radio slot="start" value="others"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>

    <!-- Education Selection -->
    <ion-row>
      <ion-col size="6">
        <ion-label>Education</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-select formControlName="education" placeholder="Select Highest Qualification" required>
          <ion-select-option value="10th">10th</ion-select-option>
          <ion-select-option value="12th">12th</ion-select-option>
          <ion-select-option value="bachelor">Bachelors</ion-select-option>
          <ion-select-option value="master">Masters</ion-select-option>
          <ion-select-option value="doctorate">Doctorate</ion-select-option>
          <ion-select-option value="others">Others</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Date of Birth Picker (Using ion-datetime-button and ngModel) -->
    <ion-row>
      <ion-col size="6">
        <ion-label position="floating">Date of Birth</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-datetime-button [datetime]="'dateOfBirthModal'" displayFormat="MM/DD/YYYY" presentation="date" required></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="dateOfBirthModal" displayFormat="DD/MM/YYYY" presentation="date" required></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <!-- Location Picker (Geo Location) -->
    <ion-row>
      <ion-col size="6">
        <ion-label position="floating">Location</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input [value]="userForm.controls?.['location']?.value" readonly></ion-input>
        <ion-button (click)="getCurrentLocation()">Get Location</ion-button>
      </ion-col>
    </ion-row>

    <!-- Map Container -->
    <ion-row>
      <ion-col size="12">
        <div id="map" style="height: 300px;"></div> <!-- Set map container size -->
      </ion-col>
    </ion-row>

    <!-- Submit Button -->
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" type="submit" [disabled]="userForm.invalid">Submit</ion-button>
      </ion-col>
    </ion-row>
    
  </form>
</ion-content>
