<ion-header>
  <ion-toolbar>
    <ion-title>Edit {{ fieldName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="saveChanges()">
    <ng-container [ngSwitch]="fieldType">

      <!-- Text Input -->
      <ion-item *ngSwitchCase="'text'">
        <ion-label position="stacked">{{ fieldName }}</ion-label>
        <ion-input formControlName="value" type="text"></ion-input>
      </ion-item>

      <!-- Number Input -->
      <ion-item *ngSwitchCase="'number'">
        <ion-label position="stacked">{{ fieldName }}</ion-label>
        <ion-input formControlName="value" type="number"></ion-input>
      </ion-item>

      <!-- Dropdown -->
      <ion-item *ngSwitchCase="'dropdown'">
        <ion-label>{{ fieldName }}</ion-label>
        <ion-select formControlName="value">
          <ion-select-option *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Radio Buttons -->
      <ion-list *ngSwitchCase="'radio'">
        <ion-radio-group formControlName="value">
          <ion-item *ngFor="let option of options">
            <ion-label>{{ option.label }}</ion-label>
            <ion-radio slot="start" [value]="option.value"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <!-- Date Picker -->
      <ion-item *ngSwitchCase="'datetime'">
        <ion-label>{{ fieldName }}</ion-label>
        <ion-datetime formControlName="value" displayFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <!-- Location
      <ion-item *ngSwitchCase="'location'">
        <ion-label>{{ fieldName }}</ion-label>
        <ion-text formControlName="value" displayFormat="MM/DD/YYYY"></ion-text>
      </ion-item> -->

    </ng-container>

    <ion-footer>
      <ion-button expand="full" type="submit" [disabled]="form.invalid">Save</ion-button>
    </ion-footer>
  </form>
</ion-content>
