.field-name {
    font-weight: bold;
    margin-right: 10px;
}

.field-value {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: var(--ion-text-color);
}

ion-item {
    align-items: left;
}

ion-button {
    --padding-start: 0;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

/* Center the button and its text */
.submit-button-div {
    display: flex;
    justify-content: center;
    /* Centers the button horizontally */
    align-items: center;
    /* Centers the button vertically */
    margin: 2vh auto;
    /* Adjusted for centering with 'auto' */
    background-color: whitesmoke;
    padding: 10px;
}

#submit-button {
    width: 100%;
    /* Ensures the button takes full width of its container */
    max-width: 150px;
    /* Optional: Set a max width if desired */
    text-align: center;
    /* Ensure the text inside the button is centered */
    padding: 12px;
    /* Adjust padding if necessary */
}