<div class="image-picker">
  <div class="button-container">
    <ion-button (click)="openCameraModal()">Capture Image</ion-button>
    <ion-button (click)="pickImage()">Pick from Gallery</ion-button>
  </div>
  <div class="preview-container">
    <div *ngIf="previewPic">
      <ion-img [src]="previewPic" (click)="zoomImage()" class="image-preview"></ion-img>
    </div>
    <div *ngIf="!previewPic">
      <ion-img src="assets/placeholder.png" (click)="zoomImage()" class="image-preview"></ion-img>
    </div>
  </div>
</div>

