<ion-item class="image-picker">
  <ion-button (click)="takePicture()">Capture Image</ion-button>
  <ion-button (click)="pickImage()">Select from Gallery</ion-button>
</ion-item>

<div *ngIf="previewPic" class="image-preview-container">
  <ion-img [src]="previewPic" (click)="zoomImage()" class="image-preview"></ion-img>
</div>

<!-- Optionally display a placeholder if no image is selected -->
<div *ngIf="!previewPic" class="image-preview-container">
  <ion-img src="assets/placeholder.png" (click)="zoomImage()" class="image-preview"></ion-img>
</div>
