<ion-header>
  <ion-toolbar>
    <ion-title>List of Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Loop over user records and display each in a table-like format -->
    <ion-item *ngFor="let record of userRecords" (click)="openUserDetails(record)">
      <ion-avatar slot="start">
        <img [src]="record.profilePic" alt="Profile Picture" />
      </ion-avatar>
      <ion-label>
        <h2>{{ record.firstName }} {{ record.lastName }}</h2>
        <p>{{ record.mobile }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
