/* This style is for the modal's full-screen background */
.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background with slight transparency */
  padding: 20px 5px; /* Vertical 20px, Horizontal 5px */
  box-sizing: border-box;
}

.zoomed-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain; /* Ensures image fits without distortion */
  border-radius: 4px;
}

.close-button {
  width: 50px;
  align-self: center;
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Close button background */
  color: white;
}
