<ion-content class="modal-parent">
  <div id="cameraPreview" class="camera-preview"></div>
  <div class="button-container">
    <ion-button (click)="flipCamera()"  shape="round" size="large" color="dark"><ion-icon name="camera-reverse-outline"></ion-icon></ion-button>
    <ion-button (click)="captureImage()" shape="round" size="large" color="dark"><ion-icon name="camera-outline"></ion-icon></ion-button>
    <ion-button (click)="closeCamera()" shape="round" size="large" color="dark"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
  </div>
</ion-content >

